.menu-icon {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    
}

.dropbtn {
  background-color: white;
  padding: 5px 9px;
  border: none;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 50%;
  margin: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
}


  /* About Us */

.about-us {
  text-align: center;
  
}
.heading-about {
  font-size: 30px;
  padding: 10px 5px;

  }

.names-para {
  font-size: 20px;
  padding: 20px 5px;
}

strong {
  font-weight: bold;
}

.explantion-para {
  padding:20px 0px;
}


/* Footer */

footer {
  position: relative;
  background: #022b3a;
  overflow: auto;
}
footer .content-container > div {
  color: white;
  padding: 1em;
}

.left {
  float: left;
}

.right {
  float: right;
}