/* General */
*{
    box-sizing: border-box;
    -webkit-box-sizing:  border-box;
    -moz-box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-align: center;
}

h1 {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 3em;
}

h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.75em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.25em;
}
h6 {
    font-size: 1em;
}

p {
    text-align:center;
}

/* Sections */

.wrapper {
    max-width: 1000px;
    margin: auto;
    }

.postcardBox {
    border: 1px solid black;
    background: white;
    width: 80%;
    height:300px;
    position: relative;
    overflow: visible;
    margin: auto;
    background-image: url("../assets/tiger.jpg");
    background-size: 500px;
}

.boxBox {
    text-align:center;
    position: absolute;
    top: 140px;
    right: 0px;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background: white;
}


.startAgain {
    background: grey;
    color:#fff;
    width: 80%;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 100px auto;
}

.startAgain p {
    vertical-align: middle;
    margin: 25px 0;
}
