/* General */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Sections */
.wrapper {
    margin: auto;
    max-width: 3000px;
    position: absolute;
    width: 100%
}
.block {
    border: 1px solid black;
    background: white;
    overflow: auto;
    position: relative;
    width: 100%;
}
.box {
    border: 1px solid black;
    padding: 100px 40px;
}


/* Mobile first media query */
@media screen and (min-width: 768px) {
    .box {
        float: left;
        width: 25%;
    }
}