* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/***   General Text Styling   ***/

body {
	background: #FFF;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Karla', sans-serif;
	color: #022B3A;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
}
.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
/***    Header    ***/
header {
  background-color: #BFDBF7;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  border-bottom: 10px solid #1F7A8C;
}
header > h1 {
  position: absolute;
  left: 1em;
  top: 50%;
  margin-top: -0.5em;
}
.dropbtn {
  float: right;
  background-color: none;
  padding: 7px 4px;
  border: 4px solid #022B3A;
  border-radius: 50%;
  margin: 8px;
  cursor: pointer;
  overflow: hidden;
}
.menu-icon {
  width: 35px;
  height: 5px;
  background-color: #022B3A;
  border-radius: 5px;
  margin: 7px;
  transition: 0.7s;
}
/* Rotate first bar */
.change .icon1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 8px);
  -moz-transform: rotate(-45deg) translate(-9px, 8px);
  -ms-transform: rotate(-45deg) translate(-9px, 8px);
  -o-transform: rotate(-45deg) translate(-9px, 8px);
  transform: rotate(-45deg) translate(-9px, 8px);
}
/* Fade out the second bar */
.change .icon2 {
  opacity: 0;
}
/* Rotate last bar */
.change .icon3 {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
  -moz-transform: rotate(45deg) translate(-9px, -8px);
  -ms-transform: rotate(45deg) translate(-9px, -8px);
  -o-transform: rotate(45deg) translate(-9px, -8px);
  transform: rotate(45deg) translate(-9px, -8px);
}

/***   Navigation   ***/
nav {
  display: none;
  position: absolute;
  top: 92px;
  right: 1px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 16px 8px rgba(0,0,0,0.1);
}
/* Links inside the dropdown */
nav a {
  color: black;
  padding: 0.75em 3em 0.75em 1em;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
nav a:hover {
  background-color: #f1f1f1
}
/***    Main    ***/
main {
  padding-bottom: 4em;
}
/***    Home Page    ***/
.home {
  padding-top: 4em;
}
.home p {
  margin: 2em;
  text-align: center;
}

/***    Form    ***/
/*general*/

main > section {
	display: none;
}
main > section:first-child {
	display: block;
}

main {
  text-align: center;
}
main h2, main h4 {
  padding: 1em;
}
main a:link{
  text-decoration: none;
}
/*image*/
.block {
  overflow: auto;
  width: 100%;
  padding: 3px;
}
.box {
  padding: 3px;
  float: left;
  width: 100%;
}
.box > img {
  width: 100%;
  border: 5px solid #FFF;
  vertical-align: middle;
}
img.active {
  border: 5px solid #1F7A8C;
}

/*placement*/
/*style*/
/*message*/

.text-field {
  width: 80%;
  margin: auto;
  overflow: auto;
}

input[type=text] {
  display: block;
  width: 100%;
  border: 2px dashed #1F7A8C;
  color: #1f7a8c;
  padding: .75em;
  font-size: 1.5em;
  min-height: 150px;
}

button, input[type="submit"] {
    background: transparent;
    border: 2px solid #1F7A8C;
    padding: 1em;
    text-transform: uppercase;
    font-size: 1.25em;
    margin: 1em auto;
    display: block;
    min-width: 10em;
}
button.refresh {
  float: left;
}
input[type="submit"], .js-activator {
  float: right;
}

button:hover, input[type="submit"]:hover {
	background: #022b3a;
	color: #FFF;
}

/* Tablet media query */
@media screen and (min-width: 767px) {
  .box {
    width: 50%;
  }
  .text-field {
    width: 60%;
  }
}
/* Laptop media query */
@media screen and (min-width: 1024px) {
  .box {
    width: 33.3%;
  }
    .text-field {
    width: 50%;
  }
}
/* Wide-screen media query */
@media screen and (min-width: 2000px) {
  .box {
    width: 25%;
  }
}

/***    Final Image    ***/

/***    About Us    ***/

.about-us {
  text-align: center;
  line-height: 1.5;
}
.about-us h2 {
  padding: 1em;
}
.about-us p {
  margin: 1em;
  font-size: 1.25em;
}
.about-us img {
  max-width: 80vw;
}
.strong {
  font-weight: bold;
}
/***    Footer    ***/
footer {
  background-color: #022B3A;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em;
}
footer > p {
  text-align: center;
  color: #FFF;
}
/*
mobile first
break points:
767 and 1024
*/