main > section {
	display: none;
}

main > section:first-child {
	display: block;
}

input[type=text] {
	border: 2px dashed #1F7A8C;
    color: #1f7a8c;
    padding: .75em;
    font-size: 1.5em;
    margin-left: 25%;
	margin-right:25%;
	width: 50%;
	min-height: 100px;
}

input[type="submit"] {
    background: transparent;
    border: 2px solid #1;
    padding: 1em;
    text-transform: uppercase;
    font-size: 1.25em;
    margin: 1em auto;
    display: block;
    min-width: 10em;
}

input[type="submit"]:hover {
	background: #022b3a;
	color: #FFF;
}